<div class="page-header">
  <h3>C Vote #<%= @c_vote.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Up</dt>
      <dd><%= @c_vote.up %></dd>

      <dt>User</dt>
      <dd>
        <% if @c_vote.user.present? %>
          <a href="/users/<%= @c_vote.user_id %>">
            <%= @c_vote.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Comment</dt>
      <dd>
        <% if @c_vote.comment.present? %>
          <a href="/comments/<%= @c_vote.comment_id %>">
            <%= @c_vote.comment.body %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/c_votes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @c_vote.user %>
        <a href="/c_votes/<%= @c_vote.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_c_vote/<%= @c_vote.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
