<div class="page-header">
  <h3>Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @comment.body %></dd>

      <dt>User</dt>
      <dd><%= @comment.user_id %></dd>

      <dt>Post</dt>
      <dd><%= @comment.post_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @comment.user %>
        <a href="/comments/<%= @comment.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Comment has many c_votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        C Votes
      </li>

      <% @comment.c_votes.each do |c_vote| %>
        <li class="list-group-item">
          <a href="/c_votes/<%= c_vote.id %>">
            <%= c_vote.up %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/c_votes/<%= c_vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/c_votes/<%= c_vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_c_vote/<%= c_vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_c_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for up -->
      <div class="form-group">
        <label for="up" class="control-label">
          Up
        </label>

        <input type="text" id="up" name="up" placeholder="Up" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for comment_id -->
      <input type="hidden" name="comment_id" value="<%= @comment.id %>">

      <button class="btn btn-block btn-success">
        Create C Vote
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
